@import url(../root.css);

@media only screen and (max-width: 600px) {
    a{
        
    }
    footer{
        height: 145px;
        padding: 0;
        background-color: var(--footer-bg-color);
    }
    .about_us{
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .about_us>*:nth-child(1), .about_us>*:nth-child(2), .about_us>*:nth-child(4), .about_us>*:nth-child(5){
        display: none;
    }
    .about_us>li{
        width: fit-content;
        list-style: none;
    }
    .about_us>li>a{
        font-size: 24px;
        color: var(--footer-color);
        text-decoration: none;
        font-weight: bold;
    }
    address{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
    }
    address>h2{
        width: 130px;
        height: 40px;
        font-size: 8px;
        font-family: var(--montserrat-font);
        color: var(--footer-color);
        font-weight: 500;
        
    }
    .footer__copyright{
        font-size: 8px;
        font-family: var(--montserrat-font);
        color: var(--footer-color);
        font-weight: 400;
        text-align: center;
        margin-top: 10px;
    }
}