@import url("../root.css");

/* main section */

body {
  width: 100%;
  height: 100%;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 15rem;
  padding-right: 15rem;
  padding-top: 10%;
  padding-bottom: 10%;
  /* position: relative; */
}

.wc-container {
  position: absolute;
  top: 7rem;
  width: 20rem;
  right: 0;
}
