@import url('../root.css');

@media only screen and (max-width: 600px) {
    nav{
        /* display: grid;
        grid-template-columns: repeat(2, 1fr); */
        width: 100%;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .for__customer{
        display: none
    }

    .nav__user>*:last-child{
        display: none;
    }

    .nav__menu{
        width: 56px;
        height: 43px;
        margin-left: 10px;
    }
    .menu__dropdown {
        display: none;
        list-style: none;
        text-align: start;
      }
    
    .nav__menu>img{
        width: 56px;
        height: 43px;
    }
    .nav__logo{
        width: 56px;
        height: 56px;
    }
    .nav__user>a>img{
        width: 48px;
        height: 48px;
    }
    .login{
        display: none;
    }
}
