@import url("../root.css");


@media only screen and (min-width: 1280px) {
  body {
    font-family: var(--inter-font);
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  a {
    text-decoration: none;
    color: var(--primary-color);
  }

  /* navigation section */

  nav {
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    grid-template-columns: 0.3fr 1fr 1fr 1fr 0.3fr;
    border-bottom: black 1px solid;
    height: 7.5rem;
  }

  .for__customer {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--primary-color);
  }

  .for__customer > li {
    margin: 0 1rem;
  }

  .nav__user {
    grid-column-start: 5;
  }

  .nav__menu {
    width: 5rem;
    height: 3.75rem;
    display: inline-block;
    position: relative;
  }

  /* dropdown menu */
  .menu__dropdown {
    display: none;
    list-style: none;
    text-align: start;
  }

  .nav__user > * {
    position: relative;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  .login{
    display: none;
  }

  .nav__logo {
    width: 5.8125rem;
    height: 5.8125rem;
    justify-self: center;
  }
}
